  <div class="flex-box">
    <div class="flex-img">
      <img src={{this.image_url}} alt="img"> </img>
    </div>
    <h1>{{this.name}}</h1>
     <span class="tagline">{{this.tagline }}</span>
     <p>{{this.description}}</p>
  </div>