<div class="nav-bar">
  <div class="nav-items"><a href="/">Home</a></div>
  <div class="nav-items"><a href="/beers">Beers</a></div>
  <div class="nav-items"><a href="/randomBeer">Random Beer</a></div>
</div>

