<div class="index-container">
  <div class="index-box">
    <img src="images/beer.png" alt="beer img">
    <div class="btn-box">
      <button class="btn"><a href="/beers">Check the beers</a></button>
      <button class="btn"><a href="/randomBeer">Select a random beer</a></button>
    </div>
   </div>
</div>